<!DOCTYPE html>
<html>
	<body>
		<main>
			<table>
				<tr>
					<td>Id</td>
					<td>Firstname</td>
					<td>Lastname</td>
					<td>Email</td>
					<td>Phone</td>
					<td>Status</td>
			  	</tr>
				{% for user in users %}
			  	<tr>
					<td>{{ user.id_user }}</td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>
						{{ user.email.email }}

						{% if user.email.is_email_active %}
							✅							
						{% else %}
							❌
						{% endif %}
					</td>
					<td>
						{{ user.phone.phone }}

						{% if user.phone.is_phone_active %}
							✅							
						{% else %}
							❌
						{% endif %}
					</td>
					<td>{{ user.status.slug }}<td>
			  	</tr>
				{% endfor %}
			</table>
		</main>
	</body>
</html>
